.content-wrap {
	display: flex;
}
.d-sidebar {
	width: 120px;
	background-color: #303456;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.d-main {
	flex-grow: 1;
	height: 95vh;
	overflow-y: auto;
}
.sidebar-links {
	color: white;
}
.sidebar-links h6 {
	font-size: 12px;
}
