.content-wrap {
	display: flex;
}
.d-sidebar {
	width: 100px;
	background-color: indianred;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.d-main {
	flex-grow: 1;
	height: 95vh;
	overflow-y: auto;
}
