body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.red {
	color: indianred;
}
.green {
	color: green;
}

.pagination-block {
	display: flex;
	justify-content: center;
}
.m-table th:hover {
	background-color: rgb(236, 206, 206);
	cursor: pointer;
}
.table-wrapper {
	height: 80vh;
	overflow-y: auto;
}
.search-bar-wrapper {
	width: 50%;
	margin: auto;
}
.table-wrapper {
	width: 95%;
	margin: auto;
	box-sizing: border-box;
}
.user-form {
	width: 50%;
	margin: auto;
	text-align: left;
}
.m-card {
	width: 400px;
}
.m-card img {
	width: 100%;
}
.nav-list li {
	margin-left: 20px;
}

a {
	text-decoration: none;
}
a:hover {
	color: black;
}
.m-navbar {
	padding: 10px;
	display: flex;
	height: 60px;
	justify-content: flex-end;
	align-items: center;
	background: linear-gradient(
		45deg,
		rgba(234, 81, 121, 1) 0%,
		rgba(172, 54, 115, 1) 100%
	);
	margin-bottom: 20px;
}
.m-navbar .nav-list {
	display: flex;
	align-items: center;
}

.sidebar-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	height: 90px;
	width: 90px;
	border-radius: 10px;
}

.sidebar-links.active {
	background-color: #ea5179;
}
.d-sm-cards {
	border-radius: 10px !important;
	height: 100px;
	padding: 10px;
	margin-bottom: 30px;
}
.maroon-card {
	background: linear-gradient(
		16deg,
		rgba(234, 81, 121, 1) 0%,
		rgba(172, 54, 115, 1) 100%
	);
}
.indigo-card {
	background: linear-gradient(
		16deg,
		rgba(195, 84, 215, 1) 0%,
		rgba(136, 74, 206, 1) 100%
	);
}
.orange-card {
	background: linear-gradient(
		16deg,
		rgba(245, 90, 158, 1) 0%,
		rgba(255, 155, 106, 1) 100%
	);
}
.c-btn {
	color: #ffffff;
	background: linear-gradient(
		45deg,
		rgba(234, 81, 121, 1) 0%,
		rgba(172, 54, 115, 1) 100%
	);
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.p-errors {
	color: red;
}
.tabs-wrapper {
	flex-wrap: wrap;
}
.m-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.m-overlay.active {
	z-index: 100;
	background-color: black;
	opacity: 0.8;
}
